<div style="margin-left: 20px;">
  <div class="single-state {{if isExpanded 'expanded-state'}}" {{action 'toggleExpansion'}}>
    {{#if isExpanded}}
      <div class="state-name">{{state.name}}</div>
      <div class="state-properties">
        {{#each state.possibleFlags as |flag|}}
          <div class="{{unless (get state flag) 'greyed'}}">{{flag}}: {{get state flag}}</div>
        {{/each}}
      </div>
    {{else}}
      <span class="state-name {{if (get state highlightedFlag) 'highlighted-state'}}">{{state.shortName}}</span>
    {{/if}}
  </div>
  {{#each state.children as |child|}}
    {{tree-state state=child highlightedFlag=highlightedFlag}}
  {{/each}}
</div>
